<!--<mat-card class="personal-recommendation-card">-->
<!--  <mat-card-title-group class="personal-recommendation-card__content">-->
<!--    <img-->
<!--      class="personal-recommendation-card__image"-->
<!--      mat-card-sm-image-->
<!--      src="https://material.angular.io/assets/img/examples/shiba2.jpg"-->
<!--      alt="Photo of a Shiba Inu"-->
<!--    >-->
<!--    <mat-card-title class="personal-recommendation-card__title">Title of playlist</mat-card-title>-->
<!--  </mat-card-title-group>-->
<!--</mat-card>-->

<mat-card class="personal-recommendation-card">
  <img
    class="personal-recommendation-card__image"
    mat-card-md-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  >
  <mat-card-title class="personal-recommendation-card__title">Daily mix</mat-card-title>
  <mat-card-subtitle class="personal-recommendation-card__subtitle">Artists...</mat-card-subtitle>
</mat-card>
