.genre-card {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: red;


  .title {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
}
