<div class="sidenav-content">
  <a href="#">
    <svg width="50" height="50px" aria-hidden="true"></svg>
  </a>

  <nav class="main-nav">
    <mat-nav-list class="main-nav__list" role="navigation">
      <a mat-list-item class="main-nav__link" routerLink="/" [activated]="true">
        <mat-icon matListItemIcon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        Home
      </a>
      <a mat-list-item class="main-nav__link" href="#" routerLink="/search">
        <mat-icon matListItemIcon aria-hidden="false" aria-label="Search" fontIcon="search"></mat-icon>
        Search</a>
      <a mat-list-item class="main-nav__link" routerLink="/collection" disabled href="#">
        <mat-icon matListItemIcon aria-hidden="false" aria-label="Search" fontIcon="library_music"></mat-icon>
        Library</a>
    </mat-nav-list>
  </nav>

  <div class="user-actions-menu">
    <mat-nav-list class="user-actions-menu__list" role="navigation">
      <a mat-list-item class="user-actions-menu__link" routerLink="/playlist/newID">
        <mat-icon matListItemIcon aria-hidden="false" aria-label="Create playlist" fontIcon="add"></mat-icon>
        Create playlist
      </a>
        <a  mat-list-item class="user-actions-menu__link" routerLink="/collection/favorite">
          <mat-icon matListItemIcon aria-hidden="false" aria-label="Favorite songs" fontIcon="star"></mat-icon>
          Favorite songs
        </a>
    </mat-nav-list >
  </div>

  <div class="playlist-content">
    <ul class="playlist-content__list">
      <li class="playlist-content__item">
        <a class="playlist-content__link" href="#">your personal</a>
      </li>
    </ul>
  </div>
</div>
