<div class="sidenav-content">
  <a href="#">
    <svg width="50" height="50px" aria-hidden="true"></svg>
  </a>

  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">Home</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">Search</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">Library</a>
      </li>
    </ul>
  </nav>

  <div class="user-actions-menu">
    <ul class="user-actions-menu__list">
      <li class="user-actions-menu__item">
        <a class="user-actions-menu__link" href="#">
          Create playlist
        </a>
      </li>
      <li class="user-actions-menu__item">
        <a class="user-actions-menu__link" href="#">
          Favorite songs
        </a>
      </li>
    </ul>
  </div>

  <div class="playlist-content">
    <ul class="playlist-content__list">
      <li class="playlist-content__item">
        <a class="playlist-content__link" href="#">your personal</a>
      </li>
    </ul>
  </div>
</div>
