.example-card {
  &>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
  max-width: 200px;
  padding: 20px;
  p {
    margin: 0;
  }
}
