<div class="personal-recommendation">
  <h2 class="personal-recommendation__title">Made for {{username}}</h2>
  <div class="personal-recommendation__list">
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
    <app-personal-recommendation-card></app-personal-recommendation-card>
  </div>
</div>



